* {
    font-family: sans-serif;
}

body {
    display: flex;
    justify-content: space-around;
}

.dirs {
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.thumb {
    margin: 1em;
}

.show {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
}

.prev, .next {
    width: 5em;
    text-align: center;
    flex-grow: 1;
}

.image {
    max-width: 80%;
    flex-grow: 10;
}
